.*
_*
*.out
!.git*
!docs/_includes/

results/*
!results/sub_counts
results/sub_counts/*
!results/sub_counts/sub_counts.csv
!results/ref
results/ref/*
!results/ref/prots.fa
!results/sub_counts_plots/
results/sub_counts_plots/*
!results/sub_counts_plots/*.html
